h1 {
  color: #6a0dad;
  font-weight: bold;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 2px solid #2C0A5B; /* Darker border color */
}

th, td {
  padding: 10px;
  text-align: left;
}

form div {
  margin-bottom: 10px;
}
