* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #430B8A;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: flex-end;  /* Changed from space-between to flex-end */
  align-items: center;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0 30px;
  font-size: 25px;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    padding: 0 20px;
  }

  .nav-links {
    font-size: 20px;
    margin: 0 15px;
  }
}